RewriteEngine on

# !!! You need to change this to the correct module name.
RewriteBase /web

# This rule excludes real files from the rewriting and lets them pass through unaffected.
RewriteCond %{REQUEST_FILENAME} !-f

# Direct all requests to run.php, except specified file types.
RewriteRule !\.(js|ico|txt|gif|jpg|png|css)$ run.php [QSA,L]